for item in tmpldata
  li(data-rec_id="#{item._id}" id="li_#{item._id}")
    a(href="#look" class="wide" data-rec_action="view" data-section="#{item.id_table}") #{item.name}
    span: a(href="#delete" title="#{item.name}" data-rec_action="delete") delete